<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
    <title>About</title>
    <link rel="stylesheet" href="./css/main.css" />
</head>

<body id="main">
    <header id="header">
        <div class="logo">
            <img src="./images/logo.png" alt="banner" />
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="content" id="content">
        <div class="space" id="space"></div>
        <div class="about" style="background: url('./images/banner-1.jpg') no-repeat center;">
            <h1>INTRODUCTION</h1>
        </div>
        <div class="text-content">
            <p>
                With 10 years of experience in the field of architecture, interior design and planning, <strong>OUR
                    HOUSE </strong> is always committed to bringing unique, novel and trendy solutions that meet all
                requirements and expectations of customers. 10 years of journey, <strong>OUR HOUSE </strong> always
                believes in new, bold, quality and modern ideas. In the process, we always ensure creativity, original
                thinking, professional skills, and unwavering commitment to excellence in every project.</br>
                According to the method of <strong>OUR HOUSE </strong>, architecture must have a different and unique
                meaning. The designs focus on expressing modern features that satisfy function and comfort. Thereby,
                <strong>OUR HOUSE </strong> creates its philosophy and defines future values for customers. It is the
                architectural philosophy of simplicity, creativity and strong impression on customers. The perfect
                combination of form and function, architecture and interior. Inspired by the “reactions”
                random response” to life, we have been creating a design strategy to convey the story, message, vision
                and brand value of our clients for over 10 years. And from there conquer the most demanding
                customers. Currently, <strong>OUR HOUSE </strong> specializes in architectural design projects, interior
                decoration and interior supply for hotels, villas, apartments, restaurant projects, hotels, high-class
                real estate. .
            </p>
        </div>
    </div>
    <footer>
        <div class="info">
            <div class="info-name">
                <h1>OUR HOUSE</h1>
            </div>
        </div>
    </footer>
</body>
<script src="./js/index.js" type="text/javascript"></script>

</html>