<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
    <title>Contact</title>
    <link rel="stylesheet" href="./css/main.css" />
    <script defer src="./js/index.js" type="module" ></script>

</head>

<body id="main">
    <header id="header">
        <div class="logo">
            <img src="./images/logo.png" alt="banner" />
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="content" id="content">
        <div class="space" id="space"></div>
        <div class="contact" style="background: url('./images/banner-2.jpg') no-repeat center;">
            <div></div>
            <form action="http://localhost:3000/contact" method="POST">
                <h1>CONTACT</h1>
                <div class="form-group">
                    <input name = "fullname" class="form-control" type="text" value="" placeholder="Full name"/>
                </div>
                <div class="form-group">
                    <input name = "email" class="form-control" type="email" value="" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <input name = "phone" class="form-control" type="number" value="" placeholder="Phone" />
                </div>
                <div class="form-group">
                    <input name = "content" class="form-control" type="text" value="" placeholder="Content" />
                </div>
                <div class="form-group">
                    <button type="submit">Submit!</button>
                </div>
            </form>
            <div></div>
        </div>
    </div>
    <footer>
        <div class="info">
            <div class="info-name">
                <h1>OUR HOUSE</h1>
            </div>
        </div>
    </footer>
</body>
</html>