<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.8, maximum-scale=1"
    />
    <title>Our house</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>

  <body id="main">
    <header id="header">
      <div class="logo">
        <img src="./images/logo.png" alt="banner" />
      </div>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="content" id="content">
      <div class="banner-header">
        <img src="./images/banner.jpg" alt="banner" />
      </div>
      <div class="description">
        <p>
          As the leading prestigious walnut furniture brand in Vietnam,
          <strong>OUR HOUSE</strong>
          provides total solutions from architecture - interior design and
          finishing construction. With the mission of being an expert in
          creating high-class spaces, especially villas, penthouses... We are
          constantly researching and creating to give you the most complete
          living values.
        </p>
      </div>
      <div class="portfolio">
        <div class="portfolio-header"><h1>Portfolio</h1></div>
        <img id="banner1" src="./images/banner-2.jpg" alt="banner" />
        <img id="banner2" src="./images/banner-3.jpg" alt="banner" />
      </div>
    </div>
    <footer>
      <div class="info">
        <div class="info-name">
          <h1>OUR HOUSE</h1>
        </div>
      </div>
    </footer>
  </body>
  <script src="./js/index.js" type="text/javascript"></script>
</html>